<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Appid" value="wxdcc51e01af226599"/>
		<add key="AppSecret" value="1aa4008ccb30f7dc1ff1be6104cff3dd"/>
		<add key="GaudWeatherKey" value="0488db12fa1b927656827a63df33d50b"/>
		<add key="CityId" value="610100"/>
		<add key="JiTangKey" value="520050c9555488b5ab3651e49ba56f84"/>
		<add key="XZYSKey" value="1009ac49ac4f3824b5f4c643f448537c"/>
		<add key="XZName" value="双子座"/>
		<add key="XZType" value="today"/>
		<add key="LoveDay" value="2021-06-14"/>
		<add key="BabyBirthday" value="06-05"/>
		<add key="GoUrl" value="https://picsum.photos/"/>
		<add key="Touser" value="o5kT86rJGpVFdkirXzfSDCe1jLm4,o5kT86rhx01A1cHuk7pXg5S5stNY"/>
		<add key="TemplateId" value="quh_NfO5jL5PT5gNmE0lCOst6IPJvoyCP8QGq0gvRcU"/>
	</appSettings>
</configuration>